/* .favorites-nav-icon {
  color: var(--x-blue);
  font-size: xx-large;
  position: relative;
  bottom: -0.7rem;
  margin-right: 0.2rem;
} */
/* 
.favorites-nav span {
  position: relative;
  bottom: 0.4rem;
  left: -0.5rem;
} */
