.productsList {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  .cardWide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
  }
}
