.navCartitemNo {
  /* background-color: var(--x-red); */
  border-radius: 10rem;
  color: var(--x-blue);
  font-weight: bold;
  position: absolute;
  top: -1.5rem;
  left: 1rem;
  /* z-index: 2; */
  /* display: block; */
}
.navcart-icon {
  color: var(--x-blue);
  font-size: xx-large;
  position: relative;
  bottom: -0.7rem;
  margin-right: 0.2rem;
}

.navCart {
  position: relative;
}

.navCart > span {
  position: relative;
  bottom: 0.4rem;
}
