.imgSliderContainer {
  background-color: white;
  width: 90vw;
  height: 70vh;
  margin: 1em auto;
  /* border: 1px solid gray; */
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.189) 0px 5px 15px;
}
