#root {
  /* max-width: 2500px;
  margin-left: auto;
  margin-right: auto; */
  /* padding: 2rem; */
  text-align: center;
  min-width: 350px;
}

.container {
  width: 90vw;
  height: auto;
  min-height: 59.1vh;
  min-width: 350px;
  margin: 1em auto;
}

@media screen and (max-width: 1100px) {
  .login > span,
  .favorites-nav > span {
    display: none;
  }
  .navCart span:nth-of-type(2) {
    display: none;
  }
}

@media screen and (max-width: 850px) {
  .cartProduct {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cartProdDesc {
    min-width: 70vw;
  }
  .cartProdImg {
    /* min-height: 50vh; */
    min-width: 90vw;
    height: auto;
  }

  /* move rand mai jos */
  /* .serachBar {
    
  } */
}

.text-link {
  color: inherit;
  text-decoration: inherit;
}
