.product {
  display: flex;
  align-items: center;
  justify-content: space-around;

  gap: 2rem;
}

.productImgDis {
  display: flex;
  max-width: 65vw;
  height: auto;
  align-items: center;
}

.productImgs {
  width: 50rem;
  height: 30rem;
}

.mainImg {
  width: 40rem;
  height: 25rem;
  display: flex;
  justify-content: center;
}

.productImgs > div > img {
  width: 100%;
  height: auto;
  object-fit: contain;
  padding: 1rem;
}

.secImgs {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
}

.secImgs > img {
  max-width: 6rem;
  max-height: 5rem;
  object-fit: contain;
}
.secImgs > img:hover {
  transform: scale(1.4);
  /* translate(-5%, -15%); */
  cursor: pointer;
  transition: transform 0.2s;
}

.prodDescription {
  width: 100%;
  height: auto;
  max-width: 30vw;
  max-height: 25vh;
  min-width: 12rem;
}

@media screen and (max-width: 1450px) {
  .productImgs {
    width: 100%;
    height: auto;
  }
  .mainImg {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 850px) {
  .product {
    flex-wrap: wrap;
  }
  .productImgDis {
    flex-direction: column;
    justify-content: space-around;
  }
  .prodDescription {
    min-width: 80vw;
  }
  .mainImg {
    width: 100%;
    height: auto;
    min-width: 60vw;
    min-height: 25vw;
  }
  .addToBtns {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
